.illustrations {
  padding: 1rem;
  width: 100%;
}

.illustrations > div {
  padding: 1rem 0;
  border-bottom: solid var(--ifm-color-content) 2px;
}

.illustrations > div:last-of-type {
  border-bottom: none;
}

.reversed {
  flex-direction: row-reverse;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.description h2 {
  font-weight: normal;
}
.advantages {
  list-style: none;
  padding-left: 0;
}

.advantages li {
  font-size: larger;
  font-weight: bold;
}
