.section {
  padding: 2rem 0;
  background: linear-gradient(
    45deg,
    var(--ifm-color-success-bg) 0%,
    var(--ifm-color-success-bg-light) 100%
  );
  width: 100%;
}

.section h2 {
  font-weight: normal;
  max-width: 70ch;
}
